<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de <b><a style="color: red;">{{ document.data.titulo }}</a> </b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Título:</ion-label>
      <ion-input [(ngModel)]="document.data.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Género:</ion-label>
      <ion-input [(ngModel)]="document.data.genero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Director:</ion-label>
      <ion-input [(ngModel)]="document.data.director"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha:</ion-label>
      <ion-input [(ngModel)]="document.data.fecha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Carátula:</ion-label>
      
    </ion-item>
    <img id="caratula" src='{{ document.data.imagen }}'>
  </ion-list>
  <ion-button *ngIf="!isNew" color="danger" (click)="clickBotonEliminar()"><ion-icon name="trash-outline"></ion-icon> Eliminar</ion-button>
  <ion-button (click)="clicBotonModificar()">{{ isNew ? 'Guardar' : 'Modificar' }}</ion-button>
  <ion-button id="botonSubirImagen" *ngIf="isNew" color="success" (click)="uploadImagePicker()"><ion-icon name="image-outline"></ion-icon> Subir Carátula</ion-button>
  <ion-button id="botonSubirCaratula" *ngIf="!isNew" color="success" (click)="uploadImagePicker()"><ion-icon name="image-outline"></ion-icon> Cambiar Carátula</ion-button>
</ion-content>