<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        AppBD
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Autor</ion-label>
      <ion-input [(ngModel)]="tareaEditando.director"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-input [(ngModel)]="tareaEditando.genero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-input [(ngModel)]="tareaEditando.fecha"></ion-input>
    </ion-item>
  
    <ion-button (click)="clickBotonInsertar()"><ion-icon name="add-circle"></ion-icon> Añadir</ion-button>
    <!-- <ion-button color="danger" (click)="clickBotonEliminar()"><ion-icon name="trash-bin"></ion-icon> Eliminar</ion-button> -->
    <h1>LISTA DE PEÍCULAS</h1>
    <ion-list>
      <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
        <ion-grid>
          <ion-row>
            <h2>{{ documentTarea.data.titulo }}</h2>
          </ion-row>
          <ion-row>
            <p>{{ documentTarea.data.director }}</p>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
