<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-fab-button (click)="clickBotonNuevo()"><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-toolbar>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <h1>LISTA DE PEÍCULAS</h1>
    <ion-list>
      <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
        <ion-grid>
          <ion-row>
            <h2>{{ documentTarea.data.titulo }}</h2>
          </ion-row>
          <ion-row>
            <p>{{ documentTarea.data.director }}</p>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
